

body {
    background-color: #f7d5ff
}

h1 {
    color: #610161;
    font-size: 2em;
}

div {
    padding: 20px;
    margin: 10px;
}
p {
    color: #30043b
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: #610161;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #e5aaf4;
}

td {
    background-color: #fff0ff;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="email"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #a64ca6;
}