
body {
    background-color: #f7d5ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: #610161;
    background: linear-gradient(135deg, #e5aaf4 0%, #f7d5ff 50%, #e5aaf4 100%);
    border-radius: 20px;
    box-shadow: #a64ca6 4px 4px 5px;
    font-size: 3em;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}

div {
    background-color: #ffe6ff;
    display: block;
    border: #610161 dotted 2px;
    border-radius: 20px;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #330033;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border: #fff0ff solid 10px;
    border-radius: 50%;
    border-style: double;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: #610161;
    text-align: center;
    padding-top: 30px;
}

ul {
    background-color: #ffe6ff;
    font-size: 1.2em;
    text-align: center;
    list-style: none;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: #a64ca6 2px 2px 2px;
    margin: auto;
    padding: 20px;
}

h3 {
    color: #610161;
    text-align: center;
    padding-top: 20px;
}

a {
    color: #a64ca6;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: #e5aaf4;
    padding: 10px;
    border-radius: 5px;
    max-width: 200px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

table {
    border-collapse: collapse;
    width: 30%;
    margin: auto;
}

th, td {
    border: 1px solid #a64ca6;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #e5aaf4;
}

td {
    background-color: #fff0ff;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    padding-top: 30px;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="email"] {
    padding: 8px;
    border: 1px solid #ffe6ff;
    border-radius: 4px;
    outline-color: #610161;
}

input[type="submit"] {
    background-color: #e5aaf4;
    font-weight: bold;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
}