body {
    background-color: #babaff;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.LPlogo {
    margin-left: 3rem;
}

.navbar {
    padding: 0;
    margin: 0;
}

.offcanvas-body, .offcanvas-header{
    background-color: #14142f;
}
.nav-link {
    color: #babaff;
}

.nav-link:hover {
    color: white;
}

main {
    padding-top: 80px;
    margin: 2rem auto;
    max-width: 1500px;
}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    display: grid;
    margin: 0 auto;
    margin-bottom: 3rem;
    border-radius: 5px;
}
.intro-container h1 {
    font-weight: 700;
    font-size: 4rem;
}

.intro-container p {
    font-size: 2rem;
}

.intro-container img {
    width: 100%;
    max-height: 900;
    margin-top: 1rem;
    box-shadow: 0 8px 20px rgba(50, 50, 150, 0.35);
}

h2 {
    text-align: center;
    font-size: 40px;
    padding: 4rem;
    background-color: rgba(186, 186, 255, 0.6);
}

.carousel-item {
    height: 450px;
}

.carousel-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-caption h3, .carousel-caption p {
    color: #14142f;
    background-color: rgba(186, 186, 255, 0.6);
    padding: 2rem;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
}

.fav-list {
    background-color: white;
    margin-top: 2rem;
    box-shadow: 0 8px 20px rgba(50, 50, 150, 0.35);
}

.fav-list ul, .fav-list li{
    list-style: none;
    width: 100%;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.card {
    border: none;
    box-shadow: none;
}

.card-body {
    box-shadow: 0 8px 20px rgba(50, 50, 150, 0.35);
    border-style: none;
}

.card-text {
    font-size: 20px;
    margin-top: 2rem;
}

.stat {
    font-size: 60px;
}

#backToTopBtn {
    display: none;
    position: fixed;
    top: 90px;
    right: 10px;
    width: 50px;
    border: none;
    outline: none; 
    cursor: pointer;
    background-color: rgba(186, 186, 255, 0.6);
    color: white;
    text-align: center;
    border-radius:15%;
    font-size: 35px;
}

#backToTopBtn:hover {
    background-color: rgba(132, 132, 248, 0.6);
}

.bottom-image-left {
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 20%;
    z-index: 1;
}

.bottom-image-right {
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 20%;
    z-index: 1;
}

.container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 3rem;
}

.gallery-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.gallery-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.gallery-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width:800px) {
    .gallery-column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .gallery-column {
        flex: 100%;
        max-width: 100%;
    }
}

.animation-logo {
    display: block;
    margin: 0;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0% {transform: translateY(0);}
    50% {transform: translateY(-20px);}
    100% {transform: translateY(0);}
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    text-align: center;
    color: black;
    padding: 20px 10px;
    margin-top: 10px;
    font-size: 1rem;
}

.dark-mode-btn {
    background-color: transparent;
    font-size: 5rem;
    display: block;
    margin: 0 auto;
    border: none;
    padding-bottom: 2rem;
}