html {
    background-color: rgb(242, 189, 223);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2, h3 {
    color: purple;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: rgb(34, 34, 34);
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

ul {
    list-style-type: square;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    text-align: center;
    padding-bottom: 20px;
}

th, td {
    background-color: rgb(28, 1, 48);
    color: white;
    font-size: 15px;
    border-radius: 30px;
    padding: 15px;  
}

.center {
    margin-left: auto;
    margin-right: auto;
}

form {
    text-align: center;
    margin-top: 20px;
}

#Lähetä {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}