
body {
    background-color: #f7d5ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: #610161;
    background: linear-gradient(135deg, #e5aaf4 0%, #f7d5ff 50%, #e5aaf4 100%);
    border-radius: 20px;
    box-shadow: #a64ca6 4px 4px 5px;
    font-size: 3em;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}

.content-box {
    background-color: #ffe6ff;
    display: block;
    border: #610161 dotted 2px;
    border-radius: 20px;
    max-width: 600px;
    margin: auto;
    padding: 15px;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #330033;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border: #fff0ff solid 5px;
    border-radius: 50%;
    border-style: double;
    display: block;
    margin: auto;
}

.filter-image {
    filter: grayscale(50%) contrast(120%) brightness(90%);
    transition: filter 0.5s ease;
}

.filter-image:hover {
    filter: grayscale(0%);
}

h2 {
    color: #610161;
    text-align: center;
    padding-top: 30px;
}

.pseudo-list li:nth-child(odd) {
    background-color: #e5aaf4;
    color: #610161;
    font-size: large;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: #a64ca6 2px 2px 2px;
    margin: auto;
    padding: 20px;
    }
      
    .pseudo-list li:nth-child(even) {
    background-color: #a64ca6;
    color: #e5aaf4;
    font-size: large;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: #a64ca6 2px 2px 2px;
    margin: auto;
    padding: 20px;

    
}

h3 {
    color: #610161;
    text-align: center;
    padding-top: 20px;
}

a {
    color: #a64ca6;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: #e5aaf4;
    padding: 10px;
    border-radius: 5px;
    max-width: 200px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

table {
    border-collapse: collapse;
    width: 30%;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: #a64ca6 2px 2px 2px;
}

th, td {
    border: 1px solid #a64ca6;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #e5aaf4;
    color: #610161;
}

td {
    background-color: #fff0ff;
    color: #330033;
}

form {
    color: #330033;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    padding-top: 30px;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="email"] {
    padding: 8px;
    border: 1px solid #ffe6ff;
    border-radius: 4px;
    outline-color: #610161;
}

input[type="submit"] {
    background-color: #e5aaf4;
    font-weight: bold;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #610161;
    cursor: pointer;
}

.transition-button {
    background-color: #e5aaf4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto;
}

.transition-button:hover {
    background-color: #610161;
    cursor: pointer;
}

.animation-box {
    width: 90px;
    height: 90px;
    background-color: #e5aaf4;
    margin: 50px auto;
    animation: moveAndColor 4s infinite;
    border-radius: 50px;
}

@keyframes moveAndColor {
    0% {
        background-color: #e5aaf4;
        transform: translateY(0);
    }
    50% {
        background-color: #610161;
        transform: translateY(-20px);
    }
    100% {
        background-color: #e5aaf4;
        transform: translateY(0);
    }
}

.quote {
    font-style: italic;
    font-size: 1.5em;
    color: #610161;
    border-left: 4px solid #a64ca6;
    padding-left: 10px;
    margin: 20px auto;
    max-width: 600px;
}
.quote::before {
    content: "“";
    font-size: 2em;
    vertical-align: bottom;
    color: #a64ca6;
}