body {
    background-color: #f7d5ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    color: #610161;
    text-align: center;
    padding-top: 30px;
}

.header-box {
    background-color: #610161;
    color: white;
    padding: 20px;
    text-align: center;
}

.section-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.workshop-card {
    background-color: #ffe6ff;
    border: #610161 dotted 2px;
    border-radius: 15px;
    box-shadow: #a64ca6 4px 4px 5px;
    padding: 15px;
    text-align: center;
}



a {
    background-color: #f7d5ff;
    padding: 10px 15px;
    color: #610161;
    font-weight: bold;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #610161;
    padding-bottom: 8px;
}

.down {
    display: inline-block;
}